.about__container {
    row-gap: 3rem;
}

.about__data {
    text-align: center;
}

.about__description {
    margin-bottom: 2rem;
}

.about__figure {
    position: relative;
    justify-self: center;
    overflow: hidden;
}

.about__img {
    width: 300px;
    transition: transform 0.4s;
}

.about__shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,
                              hsla(0,0%,0%,0) 50%,
                              hsla(0,0%,0%) 125%);
}

.about__figure:hover .about__img {
    transform: scale(1.2);
}